html(lang="en")
  head
    title Soyun Studio
    meta(charset="utf-8")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
  body
    script(type="text/javascript" src="js/three.js/three.min.js")
    script(type="text/javascript" src="js/all.min.js")
      
    #main-viewport( style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;" )
