html(lang="en")
  head
    title Soyun Studio
    meta(charset="utf-8")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
  body
    script(type="text/javascript" src="js/three.js/three.min.js")
    script(type="text/javascript" src="js/all.min.js")
    style.
      html, body {
        background: #999999;
      }
      #main-viewport {
        position: absolute; 
        top: 0px; 
        bottom: 0px; 
        left: 0px; 
        right: 0px;
      }
      #panel{
        font-family: TrebuchetMS;
        font-size: 12px;
        line-height: 1.5;
        color: #efefef;
        text-align: center;
        position: absolute; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        z-index: 10;
        padding: 20px;
        text-shadow: 1px 1px #666;
      }
      .title {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
        
      
    #main-viewport()
    #panel()
      .title Under construction
      div
        strong Soyun 2.0 S.L.
      |  C/ Sepúlveda, 143 (2º 1ª) - 08011 Barcelona<br/>
      | Tel: 931 29 75 04 - 692 20 83 75
